.All__Blog--Posts {
  h1 {
    font-size: 40px;
    padding-top: 45px;
    font-weight: 500;
  }
}

.card--anchovy {
  padding: 40px 160px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
}

.card--border {
  border: 2px solid #c7c9d1;
  height: 450px;
  width: 310px;
  border-radius: 12px;
}

.Card--Image {
  width: 310px;
  height: 220px;
  border-radius: 10px;
}

.Card--nickname {
  margin-top: 10px;
  margin-left: 12px;
  background-color: #e8ffee;
  color: #3f4047;
  width: 100px;
  height: 30px;
  border-radius: 4px;
  text-align: center;
  padding: 5px;
}

.Card--name {
  font-weight: 400;
  /* padding-left: -100px; */
  padding: 10px;
  margin-top: -30px;
  font-style: italic;
}

.All__Blog__Posts--Page {
  display: flex;
  align-items: center;
  margin-left: 10px;
  gap: 25px;
}

.All__Blog__Posts--h1 {
  color: #73778c;
  margin-top: 115px;
  font-size: 40px;
  font-weight: 500;
}
