@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

li,
ul {
  list-style-type: none;
}

h4:hover {
  color: blue;
}
